.clear {
  clear: both;
}
#aws_status_throbber {
  background-color: red;
  float: right;
  width: auto;
  color: #FFF;
  display: none;
  font-weight: bold;
  margin: 3px 5px 3px 5px;
}

#throbber-padding {
  height: 30px;
}

.active_search_param {
  margin: 10px;
  color: #666;
}

.active_search_param span {
  color: #000;
}

span.delete_status {
  font-size: 10px;
  color: #333;
  margin-left: 8px;
}

span.aws_actions {
  font-size: 10px;
  margin-left: 10px;
}

span.import-status-saving {
  background-image: url('spinner.gif');
  background-position: right;
  background-repeat: no-repeat;
}